    @font-face {
        font-family: Muller;
        src: url(/fonts/MullerRegular.woff) format('woff'), url(/fonts/MullerRegular.woff2) format('woff2');
        font-display: swap;
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: Muller;
        src: url(/fonts/MullerBold.woff) format('woff'), url(/fonts/MullerBold.woff2) format('woff2');
        font-display: swap;
        font-weight: bold;
        font-style: normal;
    }

    * {
        box-sizing: border-box;
    }

    :root {
        --link-main-color: #CC9933;
        --link-hover-color: #E9C479;
        --link-active-color: #A47312;
        --additional-text-color: #999999;
    }

    body {
        background: #E5E5E5;
        font-family: Muller;
        font-style: normal;
        font-weight: normal;
    }

    .main {
        width: 1170px;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
        color: inherit;
        transition: color .2s ease;
    }

    a:hover {
        color: var(--link-hover-color);
    }

    a:hover>span {
        border-top: 2px solid var(--link-hover-color);
        border-right: 2px solid var(--link-hover-color);
    }

    a:active {
        color: var(--link-active-color);
    }

    a:active>span {
        border-top: 2px solid var(--link-active-color);
        border-right: 2px solid var(--link-active-color);
    }


    li {
        list-style-type: none;
    }

    ul {
        margin-left: 0;
        padding-left: 0;
    }

    h2 {
        margin-top: 70px;
        margin-left: 40px;
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: normal;
    }

    /* TOP AREA */

    .top-area {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 54px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .top-area__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 0 465px;
        font-weight: 500;
        font-size: 20px;
        color: #666666;
    }

    .top-area__personal {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .top-area__link {
        font-size: 16px;
        color: var(--link-main-color);
        padding-left: 20px;
    }

    .top-area__link svg path {
        transition-property: fill;
        transition-duration: .2s;
        transition-timing-function: ease;
    }

    .top-area__link:hover svg path {
        fill: var(--link-hover-color);
    }

    .top-area__link:active svg path {
        fill: var(--link-active-color);
    }

    /* NAV_TOP */

    .nav-top {
        width: 100%;
        display: flex;
        align-items: center;
        height: 70px;
        background: #FFFFFF;
        border-radius: 15px;
    }

    .nav-top__menu {
        display: flex;
        flex: 1 1 743px;
        font-size: 16px;
        color: #666666;
        justify-content: space-evenly;
    }

    .nav-top__separator {
        width: 1px;
        height: 50px;
        background: #E1E1E1;
    }

    .nav-top__buttons {
        display: flex;
        flex: 1 1 426px;
        align-items: center;
        justify-content: space-evenly;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        background: #FFFFFF;
        border-radius: 10px;
        border: 1px solid var(--link-main-color);
        color: var(--link-main-color);
        transition-property: color, background-color, box-shadow;
        transition-duration: 0.2s;
        transition-timing-function: ease;
    }

    .button:hover {
        background-color: var(--link-hover-color);
        color: white;
        box-shadow: 1px 1px 1px var(--link-hover-color);
    }

    .button:active {
        background-color: var(--link-active-color);
        color: white;
        box-shadow: 0 0 0;
    }

    /* SPECIALS */

    .specials {
        width: 100%;
        min-height: 540px;
        display: flex;
        justify-content: space-between;
    }

    .specials__section {
        flex: 0 0 573px;
        min-height: 540px;
    }

    .specials__section_left {
        display: flex;
        flex-wrap: wrap;
    }

    .specials__section_luxury-rooms {
        background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/33.png');
        border-radius: 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        /* transform: rotate(-90deg); */
    }

    .specials__offer {
        min-height: 258px;
        border-radius: 15px;
        flex: 0 0 573px;
        background-repeat: no-repeat;
    }

    .specials__offer_maldives {
        background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/Rectangle14.png");
    }

    .specials__offer_crete {
        margin-top: 24px;
        background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/Rectangle15.png");
    }

    .specials__title {
        margin: 40px 0 0 40px;
        width: 299px;
        min-height: 80px;
        color: white;
        font-weight: bold;
        font-size: 40px;
        font-weight: bold;
    }

    .specials__title_right {
        margin: 211px 0 0 40px;
        min-height: 180px;
        font-size: 60px;
    }

    .specials__price {
        margin: 15px 0 0 40px;
        font-size: 20px;
        line-height: 1;
        color: white;
        opacity: .8;
    }

    .specials__price_right {
        font-size: 30px;
    }

    .specials__link {
        display: block;
        margin: 47px 0 40px 40px;
        font-size: 16px;
        line-height: 16px;
        color: #FFCC66;
        font-weight: bold;
    }

    .specials__arrow {
        display: inline-block;
        width: 11px;
        height: 11px;
        border-top: 2px solid #FFCC66;
        border-right: 2px solid #FFCC66;
        box-sizing: border-box;
        transform: rotate(45deg);
        color: inherit;
        transition: border-top .2s ease;
        transition: border-right .2s ease;
    }

    /* ABOUT */

    .about-us {
        width: 888px;
        font-size: 16px;
        line-height: 200%;
    }

    /* SERVICES */

    .services__tiles {
        width: 100%;
        min-height: 683px;
        display: flex;
        flex-wrap: wrap;
    }

    .services__tile {
        width: 573px;
        min-height: 330px;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border-radius: 15px;
        background-repeat: no-repeat;
    }

    .services__tile:first-child {
        margin-bottom: 23px;
        background-image: url("../img/10.png");
    }

    .services__tile:nth-child(2) {
        margin-bottom: 23px;
        margin-left: 23px;
        background-image: url("../img/11.png");
    }

    .services__tile:nth-child(3) {
        background-image: url("../img/12.png");
    }

    .services__tile:last-child {
        margin-left: 23px;
        background-image: url("../img/13.png");
    }

    .services__link {
        margin: 191px 0 0 45px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        color: var(--link-active-color);
    }

    .services__arrow {
        border-top: 2px solid var(--link-active-color);
        border-right: 2px solid var(--link-active-color);
    }

    .services__description {
        height: 51px;
        width: 402px;
        margin: 0 0 50px 45px;
        font-size: 16px;
        line-height: 200%;
    }

    /* ADVANTAGES */

    .advantages__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .advantages__advantage {
        width: 275px;
        min-height: 275px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 23px;
        background-position: top 40px left 40px;
        background-repeat: no-repeat;
    }

    .advantages__advantage_1 {
        background-image: url("../img/bathtub.svg");
    }

    .advantages__advantage_2 {
        background-image: url("../img/hanger.svg");
    }

    .advantages__advantage_3 {
        background-image: url("../img/heating.svg");
    }

    .advantages__advantage_4 {
        background-image: url("../img/hotel-key.svg");
    }

    .advantages__advantage_5 {
        background-image: url("../img/parking.svg");
    }

    .advantages__advantage_6 {
        background-image: url("../img/reception.svg");
    }

    .advantages__advantage_7 {
        background-image: url("../img/security-box.svg");
    }

    .advantages__advantage_last {
        background-image: url("../img/swimming-pool.svg");
    }

    .advantages__advantage:not(:nth-child(4n)) {
        margin-right: 23px;
    }

    .advantages__advantage:nth-last-child(-n+4) {
        margin-bottom: 0;
    }

    .advantages__description {
        min-height: 118px;
        width: 188px;
        margin: 116px 0 41px 45px;
        font-size: 16px;
        line-height: 200%;
    }

    /* ACCOMODATIONS */

    .accomodations__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .accomodations__accomodation {
        width: 374px;
        min-height: 440px;
        display: flex;
        flex-flow: column;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 23px;
    }

    .accomodations__accomodation:not(:nth-child(3n)) {
        margin-right: 23px;
    }

    .accomodations__accomodation:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    .accomodations__price-and-stars {
        margin: 40px 0 0 45px;
    }

    .accomodations__price {
        color: var(--additional-text-color);
        font-size: 16px;
    }

    .accomodations__numbers {
        color: black;
        font-size: 20px;
        font-weight: bold;
    }

    .accomodations__nights {
        color: black;
        font-size: 16px;
    }

    .accomodations__place {
        margin: 16px 0 0 45px;
        color: black;
        font-size: 16px;
    }

    .accomodations__city {
        margin: 16px 0 0 45px;
        color: var(--additional-text-color);
        font-size: 16px;
    }

    .accomodations__rooms {
        margin: 20px 0 40px 45px;
    }

    .accomodations__all {
        margin: 373px 0 0 54px;
    }

    .accomodations__accomodation_last {
        position: relative;
        background-image: url('../img/41.png');
        background-repeat: no-repeat;
    }

    .accomodations__link {
        color: white;
        font-size: 20px;
    }

    .accomodations__link::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .accomodations__arrow {
        border-top: 2px solid #FFF;
        border-right: 2px solid #FFF;
    }

    /* WANT TOUR */

    .want-tour {
        width: 100%;
        height: 274px;
        margin-top: 70px;
        padding-top: 38px;
        background: #E9E9E9;
        border-radius: 15px;
    }

    .want-tour_h2 {
        margin-top: 0;
    }

    .want-tour__form {
        margin: 0 auto;
        width: 1080px;
        height: 106px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: white;
    }

    .tour-form__element {
        height: 50px;
        margin-left: 20px;
    }


    .tour-form__element:last-child {
        display: flex;
        align-items: center;
    }

    .tour-form__element:not(:last-child) {
        border-right: 1px solid #E1E1E1;
    }

    .tour-form__element:nth-child(-n+2) {
        width: 190px;
    }

    .tour-form__element:not(:nth-child(-n+2)) {
        width: 141px;
    }

    .tour-form__label {
        font-size: 12px;
        line-height: 1;
        margin-bottom: 15px;
    }

    .tour-form__select {
        width: 159px;
        border: 0;
        font-family: Muller;
        font-size: 16px;
        line-height: 16px;
        padding: 0;
        margin-left: -3px;
    }

    .tour-form__input {
        width: 121px;
        border: 0;
        font-family: Muller;
        font-size: 16px;
        line-height: 16px;
        padding-inline-start: 0;
    }

    .tour-form__input_number {
        border-bottom: 1px solid #E1E1E1;
    }

    ::-webkit-calendar-picker-indicator {
        margin-left: 0px;
    }

    /* CONTACTS */

    .contacts__container {
        width: 1168px;
        min-height: 618px;
        margin: 0 auto;
        display: flex;
        padding: 44px 44px 46px 46px;
        background: #FFFFFF;
        border-radius: 15px;
    }

    .contacts__block {
        width: 375px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
    }

    .contacts__photo {
        width: 653px;
    }

    .contacts__detail:not(:last-child) {
        display: flex;
        border-bottom: 1px solid #C4C4C4;
        margin-bottom: 25px;
        padding-bottom: 22px;
    }

    .contacts__title {
        width: 145px;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: black;
    }

    .contacts__details {
        font-size: 16px;
        line-height: 150%;
        color: #000000;
    }

    .contacts__additional {
        font-size: 16px;
        line-height: 150%;
        color: var(--link-main-color);
    }

    .contacts__email {
        font-size: 16px;
        line-height: 150%;
        color: var(--additional-text-color);
    }

    .contacts__button {
        font-size: 16px;
        padding: 27px 29px;
        margin-top: 20px;
        font-weight: bold;
    }

    /* FOOTER */

    .footer {
        width: 1168px;
        min-height: 341px;
        margin: 20px auto;
        display: flex;
        background: #333333;
        border-radius: 15px;
        background-image: url("../img/Logo-footer.svg");
        background-repeat: no-repeat;
        background-position: bottom 0 left 737px;
    }

    .footer__column {
        display: flex;
        flex-flow: column wrap;
    }

    .footer__column_first {
        margin: 44px 102px 46px 52px;
        width: 320px;
    }

    .footer__column_second {
        margin: 44px 260px 0 0;
        width: 358px;
    }

    .footer__column_third {
        flex-flow: row wrap;
        margin-top: 51px;
        width: 25px;
        height: 205px;
        align-items: flex-start;
        align-content: space-between;
    }

    .footer__text {
        margin-bottom: 49px;
        font-size: 16px;
        line-height: 190%;
        color: white;
    }

    .footer__text_second {
        margin-bottom: 14px;
    }